body{
  background-color: #443C68;

}
.container{
  display: flex;
  height: 100vh;
  justify-content: center;

}
.main{
  flex-direction: row;
  flex-basis: 800px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;

}
.image{
  float: right;
  position: relative;
  bottom: 300px;

}

input{
  width: 200px;
  border-radius: 5px;
  padding: 10px;
}
button{
  padding: 10px;
  border-radius: 5px;
  background-color: #F94A29;
}
a{
  text-decoration: none;
  color: white;
  /* font-size: 20px; */
  font-style: normal;
}
@media(max-width:600px){
  .image{
    float: left;
    position: relative;
    bottom: 450px;

  }

  body{
    background-color:inherit;
  }

  .content{
    position: relative;
    top: 500px;
}
.container{
  display: flex;
justify-content: flex-start;

}
}
