body{
  background-color:#443C68;
}

.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.main{
  flex-direction: row;
  flex-basis: 300px;
  text-align:center;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
}

button{
  width: 200px;
  padding: 10px;
  border-radius: 7px;
  background-color: #443C68;
}
a{
  text-decoration: none;
  font-style: normal;
  font-size:20px;
  color: white;
}
